%body
  %header.header
    = render 'shared/navigation'
    .header__text-box
      %h1.heading-primary
        %span.heading-primary--main outdoors
        %span.heading-primary--sub
          is where life
          happens
      %a.btn.btn-white.btn-animated{:href => "#"} Discover our tours
