<% require 'pry' %>
<h1>Senate#index</h1>
<p>Find me in app/views/senate/index.html.erb</p>

<% binding.pry %>
<ul>
  <% @senators.each do |sen| %>
  <li><%= sen.title_and_name %></li>
  <% end %>
</ul>

<%= will_paginate @senators %>
