*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

:root {
  // This defines size of 1rem
  font-size: 62.5%;
}

::selection {
  background-color: $color-primary;
  color: $color-white;
}

body {
  box-sizing: border-box;
  //padding: 3rem;
}