%footer{class: "w-full text-center p-4 bg-gray-800"}
  .container.mx-auto.flex.justify-between
    %span.text-gray-500
      &copy;
      = Date.today.year
      yourcongress.co
    %div.inline-flex
      %a{href: "/privacy", class: "block inline-flex text-gray-500 px-3"} Privacy Policy
      %a{href: "/terms", class: "block inline-flex text-gray-500 px-3"} Terms & Conditions
