<h1>Senators#index</h1>
<p>Find me in app/views/senators/index.html.erb</p>

<h2>Senate (<%= @senators.count %>)</h2>
<ul>
  <% @senators.each do |member| %>
    <li><%= member.title_and_name %> - (<%= member.state %>)</li>
  <% end %>
</ul>