@import '~@fortawesome/fontawesome-free';
@import "~tailwindcss/base";
@import "~tailwindcss/components";

.btn {
  @apply rounded-lg;
  @apply font-bold text-white;
  @apply px-8 py-3 mx-2;
}

.btn-primary {
  @apply bg-green-500;

  &:hover {
    @apply bg-green-700;
  }
}

.debug_dump {
  @apply overflow-hidden bg-gray-300 rounded shadow;
  @apply p-4 m-5;
}

.icon {
  @apply text-xl text-gray-500;
  @apply no-underline;
}

.icon:hover,
.icon:focus {
  @apply text-blue-300;
}

.pagination {
  @apply flex justify-center;
  @apply my-2 py-2;
}

.pagination * {
  @apply px-3 py-2 mx-3;
  @apply text-gray-700 no-underline bg-white rounded-lg;
}

.pagination a:hover {
  @apply font-semibold text-gray-200 bg-gray-700;
}

.nav-link {
  display: block;
  margin-right: 1.5rem;
  padding: .25rem .5rem;
  line-height: 30px;
}

@import "~tailwindcss/utilities";