@import '~@fortawesome/fontawesome-free';
@import "~tailwindcss/base";
@import "~tailwindcss/components";

/*! purgecss start ignore */
@import "./components/buttons";
@import "components/forms";
/*! purgecss end ignore */

:root {
  --base-size: 1rem;
  --type-scale: 1.20;
  --h5: calc(var(--base-size) * var(--type-scale));
  --h4: calc(var(--h5) * var(--type-scale));
  --h3: calc(var(--h4) * var(--type-scale));
  --h2: calc(var(--h3) * var(--type-scale));
  --h1: calc(var(--h2) * var(--type-scale));
  --text-sm: calc(var(--base-size) / var(--type-scale));
  --header-margin: 0 0 1rem 2rem;
}

h1 {
  font-size: var(--h1);
  font-weight: bold;
}

h2 {
  font-size: var(--h2);
  font-weight: bold;
}

h3 {
  font-size: var(--h3);
  font-weight: bold;
}

h4 {
  font-size: var(--h4);
  font-weight: bold;
}

h5 {
  font-size: var(--h5);
  font-weight: bold;
}

p {
  font-size: var(--base-size);
}

small, .text-small {
  font-size: var(--text-sm);
}

.btn-primary {
  @apply bg-indigo-700;

  &:hover {
    @apply bg-indigo-500;
  }
}

.debug_dump {
  @apply overflow-hidden bg-gray-300 rounded shadow;
  @apply p-4 m-5;
}

.icon {
  @apply text-xl text-gray-500;
  @apply no-underline;
}

.icon:hover,
.icon:focus {
  @apply text-blue-300;
}

.pagination {
  @apply flex justify-center;
  @apply my-2 py-2;
}

.pagination * {
  @apply px-3 py-2 mx-3;
  @apply text-gray-700 no-underline bg-white rounded-lg;
}

.pagination a:hover {
  @apply font-semibold text-gray-200 bg-gray-700;
}

.alert__success {
  @apply bg-teal-100 border-teal-500 text-teal-900;
}

.alert__warning {
  @apply bg-orange-100 border-orange-500 text-orange-900;
}

.alert__danger {
  @apply bg-red-100 border-red-500 text-red-900;
}

.alert__info {
  @apply bg-blue-100 border-blue-500 text-blue-900;
}

#error_explanation {
  color: red;

  ul {
    color: red;
    margin: 0 0 2rem 0;

    li {
      padding-top: 1rem;
      padding-left: 1rem;
    }
  }
}

.nav-link {
  display: block;
  margin-right: 1.5rem;
  padding: .25rem .5rem;
  line-height: 30px;
}

aside {
  section.user_info {
    margin-top: 20px;
  }

  section {
    padding: 10px 0;
    margin-top: 20px;

    &:first-child {
      border: 0;
      padding-top: 0;
    }

    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }

    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  //float: center;
  margin-right: .75rem;
  border-radius: 5px;
}

.gravatar_edit {
  display: flex;
  margin-top: 1rem;
}

@import "~tailwindcss/utilities";