
  <input id="main-menu-checkbox" type="checkbox">

  <div class="navbar">
    <label for="main-menu-checkbox" class="menu-toggle">
      <span class="sr-only">Open main menu</span>
      <span class="fa fa-bars" aria-hidden="true"></span>
    </label>

    <h1 class="logo">Your Congress</h1>

    <nav id="main-menu" role="navigation" class="main-menu" aria-expanded="false" aria-label="Main menu">
      <label for="main-menu-checkbox" class="menu-close">
        <span class="sr-only">Close main menu</span>
        <span class="fa fa-close" aria-hidden="true"></span>
      </label>
      <ul>
        <li><a href="#">Products</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </nav>
    <label for="main-menu-checkbox"
           class="backdrop"
           tabindex="-1"
           aria-hidden="true" hidden></label>
  </div>

