- provide(:title, 'Home')
= render 'shared/navigation'
%h1 Members
%p below find you congress
%h2
  Senate (#{@senators.count})
%ul
  - @senators.each do |member|
    %li
      = member.title_and_name
      \- (#{member.state})
